<%if (user != null){%>
<form action="/cart/<%= user.username %> " method="post">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  <input type="hidden" name="productId" value="<%= product._id %>" />
  <button class="btn btn-block btn-outline-primary" type="submit">
    Add to Cart
  </button>
</form>
<%}else{%>
<a class="btn btn-block btn-outline-primary" href="/auth/signin"
  >Sign in to order</a
><%}%>
