<div class="list-group-item flex-column align-items-start">
  <form
    class="row d-flex w-100 justify-content-between"
    method="post"
    action="/<%=product.slug%>/review?_method=PUT"
  >
    <div class="form-group col m-0">
      <h5>Add Review</h5>
      <div class="form-group">
        <label for="select">Example select</label>
        <select class="form-control" id="select" name="stars">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <textarea
        class="form-control"
        id="text"
        name="review"
        aria-describedby="commentHelp"
        placeholder="Enter review here"
        rows="3"
      ></textarea>
      <small id="commentHelp" class="form-text text-muted float-right"
        >Your review are public.</small
      >
      <button type="submit" class="btn btn-outline-primary btn-sm mt-2">
        Submit
      </button>
    </div>
  </form>
</div>
