<a
  data-toggle="lightbox"
  data-gallery="gallery"
  href="/files/<%= file.filename %>"
>
  <img
    src="/files/<%= file.filename %>"
    class="d-block w-100"
    alt="<%= file.fileID %>"
  />
</a>
